.fc-sun,
.fc-sat {
    color: #337ab7;
    border-color: black;
    background-color: rgb(143, 223, 143, 0.3);
}


/* Guardias - DC */

.ar-tipo-2.subtipo-1 {
    background-color: rgba(0, 255, 0, 1) !important;
    border-color: blue !important;
    color: white !important;
    /* opacity: 0.5; */
}


/* Licencias */

.ar-tipo-3 {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: black !important;
    color: white !important;
    cursor: pointer !important;
    border-width: 2px;
}


/* Pendientes */

.ar-tipo-3.estado-1 {
    border-style: dashed !important;
    opacity: 0.6 !important;
}


/* Aprobado */

.ar-tipo-3.estado-2 {
    border-style: solid !important;
    opacity: 0.9 !important;
}


/* Activacion */

.ar-tipo-4 {
    color: black !important;
    cursor: pointer !important;
    border-width: 2px;
}


/* Pendientes */

.ar-tipo-4.estado-1 {
    background-color: rgba(243, 156, 18, 0.8);
    border-color: #f39c12 !important;
    border-style: dashed !important;
}


/* Aprobado */

.ar-tipo-4.estado-2 {
    background-color: rgba(0, 166, 90, 0.8);
    border-color: #00a65a !important;
    color: white !important;
    border-style: solid !important;
    opacity: 0.9 !important;
}


/* Rechazado */

.ar-tipo-4.estado-3 {
    border-style: solid !important;
    background-color: rgba(221, 75, 57, 0.8);
    border-color: #dd4b39 !important;
    color: white !important;
    opacity: 0.9 !important;
}


/* FIX FontAwesome */

.fc-icon-fa {
    font-family: FontAwesome !important;
}

.fc-nonbusiness {
    background: #000000;
}


/* FIX sweet alert font-size */

.swal2-popup {
    font-size: 1.6rem !important;
}

.popover-body hr {
    padding: 0 !important;
}